{
	"extends": [ "plugin:@wordpress/eslint-plugin/esnext" ],
	"env": {
		"browser": true,
		"node": false
	},
	"globals": {
		"wp": true,
		"jQuery": true
	},
	"overrides": [
		{
			"files": [ "**/*.test.js" ],
			"env": {
				"jest": true
			}
		},
		{
			"files": [
				"src/js/block/**/*.js",
				"src/js/block/**/*.jsx",
				"src/js/builder/**/*.js",
				"src/js/builder/**/*.jsx",
				"src/js/shared/**/*.js",
				"src/js/shared/**/*.jsx"
			],
			"plugins": [ "react" ],
			"parserOptions": {
				"ecmaVersion": 2021,
				"sourceType": "module",
				"ecmaFeatures": {
					"jsx": true
				}
			},
			"rules": {
				"react/jsx-uses-vars": "error"
			}
		}
	]
}
